{% extends "base.html" %}
{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>{{ task.title }}</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            {% if task.image %}
                <div class="form-group">
                    <label for="image"></label>
                    <img src="{{ task.image.url }}" alt="">
                </div>
            {% else %}
            {% endif %}
            <div class="form-group">
                <label for="title">Title: </label>
                <p><strong>{{ task.title }}</strong></p>
            </div>
            {% if task.memo %}
            <div class="form-group">
                <label for="memo">Memo: </label>
                <p><strong>{{ task.memo }}</strong></p>
            </div>
            {% endif %}
            <div class="form-group">
                <label class="form-check-label" for="is_important">Important</label>
                {% if task.is_important %}<p><strong>Yes</strong></p>
                {% else %}
                    <p><strong>No</strong></p>
                {% endif %}
            </div>
            {% if task.reminder %}
            <div class="form-group">
                <label for="reminder">Reminder: </label>
                <p><strong>{{ task.remind_at }}</strong></p>
            </div>
            {% endif %}
            <button type="button" class="btn btn-success" onclick="$('#edit').click()">Edit</button>
            <button type="button" class="btn btn-primary" onclick="$('#back').click()">Back</button>
        </div>
    </div>
    {% if task.datecompleted is None %}
        <form style='display: none;' method="GET" action="{% url 'tasks:updatetask' task.id %}">
            <button id="edit" type="submit">Edit</button>
        </form>
    {% endif %}
    <form style='display: none;' method="GET" action="{% url 'tasks:currenttasks' %}">
        <button id="back" type="submit">Back</button>
    </form>
{% endblock %}